In [ ]:
universal functions of numpy:

In [1]:
import numpy as np

In [ ]:
statistical functions:

In [2]:
test_scores=np.array([32.32,45.63,25.52,84.55])

In [ ]:
Req: i want to find the mean test score of the students

In [3]:
print('MEAN TEST SCORES OF  THE STUDENTS :')
print(np.mean(test_scores))

MEAN TEST SCORES OF  THE STUDENTS :
47.004999999999995

In [ ]:
Req: i want To find the median scores of the students.

In [4]:
print("the median score of the students :")
print(np.median(test_scores))

the median score of the students :
38.975

In [5]:
salaries=np.genfromtxt('salary.csv')

In [6]:
salaries

array([60000., 58000., 56967., ..., 54647., 25000., 70000.])

In [7]:
salaries.shape

(1147,)

In [ ]:
Req:
    
    mean
    median
    standard deviation
    variance

In [8]:
mean=np.mean(salaries)
median=np.median(salaries)
sd=np.std(salaries)
variance=np.var(salaries)

In [9]:
print('Mean = %i' %mean)
print('Median = %i' %median)
print('Standard Deviation = %i' %sd)
print('Variance = %i' %variance)

Mean = 55894
Median = 48000
Standard Deviation = 55170
Variance = 3043770333

In [13]:
a=np.arange(11)**2

In [14]:
a

array([  0,   1,   4,   9,  16,  25,  36,  49,  64,  81, 100], dtype=int32)

In [15]:
for i in a:
    print(i **(1/2))

0.0
1.0
2.0
3.0
4.0
5.0
6.0
7.0
8.0
9.0
10.0

In [ ]:
Multi_Dumensional Arrays:

In [16]:
students = np.array([['naman','sam','syed','shafi'],
                    [65,78,90,81],
                    [71,82,79,92]])

In [ ]:
NOte: Each iteration will be over the rows of the array.

In [17]:
for i in students:
    print('i=',i)

i= ['naman' 'sam' 'syed' 'shafi']
i= ['65' '78' '90' '81']
i= ['71' '82' '79' '92']