In [3]:
import numpy as np
import pandas as pd

In [ ]:
scenario: we r having a fruit stand who sells apples and oranges

In [2]:
data={'apples':[3,2,0,1],
     'oranges':[0,3,7,2]}

In [4]:
purcahses=pd.DataFrame(data)
purcahses

   apples  oranges
0       3        0
1       2        3
2       0        7
3       1        2

In [5]:
purchases= pd.DataFrame(data,index=['shafi','sam','santhan','azam'])
purchases

         apples  oranges
shafi         3        0
sam           2        3
santhan       0        7
azam          1        2

In [ ]:
# to locate the information of the customer

In [8]:
purchases.loc['sam']

apples     2
oranges    3
Name: sam, dtype: int64

In [9]:
purchases.loc['shafi']

apples     3
oranges    0
Name: shafi, dtype: int64

In [ ]:
Reading the data from the CSV:------>purchases.csv

In [12]:
df=pd.read_csv('purchases.csv')
df

  Unnamed: 0  apples  oranges
0       June       3        0
1     Robert       2        3
2       Lily       0        7
3      David       1        2

In [21]:
df=pd.read_csv('purchases.csv',index_col=0)
df

        apples  oranges
June         3        0
Robert       2        3
Lily         0        7
David        1        2

In [ ]:
Reading the data from the Json file....! key-value datatype...!

In [23]:
df=pd.read_json('purchases.json')
df

        apples  oranges
June         3        0
Robert       2        3
Lily         0        7
David        1        2

In [28]:
df.loc['Lily']

apples     0
oranges    7
Name: Lily, dtype: int64

In [29]:
df.loc['June']

apples     3
oranges    0
Name: June, dtype: int64